.section{
    padding-top: 104px;
    padding-bottom: 96px;
    background: url('../../public/bg-title.jpg') no-repeat 50% 0;
    background-size: cover;
    box-shadow: 0 1px 7px 0 rgb(1 2 2 / 60%);
    text-align: center;
}

.title{
    font-family: 'Fredericka the Great', cursive;
    font-size: 64px;
    color: white;
  }
  