.header{
    background-color: #151515 !important;
}

.nav_text{
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Abril Fatface', cursive; */
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.nav_text:hover{
    color: #fdbc2c
}

.item{
    flex:1;
}

.item:nth-child(1){
    font-family: 'Josefin Sans', sans-serif;
    flex:2;
    display: flex;
}

.item:nth-child(2){
    flex:6;
}

.item:nth-child(3){
    flex:2;
}

.callButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.text{
    margin-left: 10px;
    color: white;
}

.text:first-child{
    font-size: 14px;
    font-weight: 500;
}

.text:last-child{
    font-size: 12px;
    font-weight: bold;
}

.cart{
    position: relative;
}

.counter{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fdbc2c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


