.container {
  background: url('/pattern-body.jpg');
}

.hero {
  background-image: url("../public/home_bg.jpg");
  height: 500px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.title{
  font-family: 'Fredericka the Great', cursive;
  font-size: 64px;
  color: white;
}

.subTitle{
  font-family: 'Abril Fatface', cursive;
  font-size: 24px;
  color: white;
}

.headerText{
  font-family: 'Abril Fatface', cursive;
  color: #fdbc2c;
  margin-bottom:40px;
}

.simpleText{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: white;
}

.middleSection{
  padding-top: 30px;
  padding-bottom: 30px;
  background: url('../public/pattern-2.png');
  background-color: #D94F2B;
}

.order_button{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  background-color: #fdbc2c;
}

.order_button:hover{
  background-color: transparent;
  color: white;
  border: 1px solid #fdbc2c ;
}