.container{
    background: url('../public/pattern-body.jpg');
}

@media only screen and (min-width: 768px) {
   .loginBox{
    width: 50%;
   }
}

.loginBox{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: auto;
    background-color: #4a4a4a4f;
    border-radius: 10px;
    padding:20px;
}

.loginBtn{
    width: 30%;
    margin: auto;
    color: white;
    font-weight: bold;
}