.container {
    background: url('/pattern-body.jpg');
  }

.middleSection{
  padding-top: 30px;
  padding-bottom: 30px;
  background: url('../public/pattern-1.png');
  background-color: #fdbc2c;
}

.textStyle{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Abril Fatface', cursive;
  font-size: 32px;
  color: rgb(20, 20, 20);
}

.pizzaName{
    color: #fdbc2c;
    font: 400 48px/1.25 'Abril Fatface';
    margin-bottom: 30px;
}

.pizzaDesc{
    font-family: "Josefin Sans";
    font-size: 18px;
    color: #fff;
}

.pizzaPrice{
    color: #D94F2B;
    margin-top: 20px;
    margin-bottom: 20px;
    font: 36px 'Fredericka the Great'
}

.smallHeader{
    font-family: "Josefin Sans";
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.button{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #fdbc2c;
}

.button:hover{
  background-color: transparent;
  color: white;
  border: 1px solid #fdbc2c ;
}

.enumerator{
  display: inline-block;
  margin-right: 10px;
}

.enumerator_btn {
  text-decoration: none;
  display: inline-block;
  width: 44px;
  height: 44px;
  font-size: 26px;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  text-align: center;
}

.sizes{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}

.size{
  padding: 5px;
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 40px;
}

.size:nth-child(2){
  width: 60px;
  height: 60px;
  border: 1px solid #fdbc2c;
}
.size:nth-child(3){
  width: 70px;
  height: 70px;
}

.sizeText{
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: -20px;
  background-color: #fdbc2c;
  color: white;
  padding: 0 5px;
  border-radius: 10px;
}

.checkForm:checked{
  background-color: #fdbc2c;
  border-color: #fdbc2c;
}

.checkLabel{
  color: white;
}